.search-bar {
      width: 300px;
      padding: 5px;
      margin: 5px;
}

.location-option {
      display: flex;
      justify-content: space-between;
      .flag-pic {
            margin-inline-end: 5px;
      }

      .get-weather-btn {
            margin: auto;
            margin-inline-end: 4px;
            font-size: 12px;
            height: 40px;
            width: 70px;
      }
}

@media only screen and (max-width: 510px) {
      .search-bar {
            width: 200px;
      }
}
