.search-bar {
      width: 350px;
      margin-block-start: 10px;
}

.location-option {
      display: flex;
      justify-content: space-between;
      .flag-pic {
            margin-inline-end: 5px;
      }

      .get-weather-btn {
            margin: auto;
            margin-inline-end: 4px;
            font-size: 12px;
            height: 40px;
            width: 70px;
      }
}
