.current-weather {
      display: flex;
      justify-content: space-between;
      width: 100%;
      height: 250px;
      margin-block-start: 5px;
      margin-block-end: 20px;

      .card-typography-title {
            margin-block-end: 12px;
      }

      .current-container {
            min-width: 275px;
            .card-typography {
                  margin-block-end: 12px;
            }
      }

      .weather-img {
            width: 250px;
      }
}

.dark-mode {
      background-color: rgba(0, 0, 0, 0.842) !important;
      color: rgba(255, 255, 255, 0.911) !important;
}

@media only screen and (max-width: 800px) {
      .weather-summery {
            width: 150px;
            .weather-img {
                  width: 150px;
            }
      }
}

@media only screen and (max-width: 550px) {
      .current-weather {
            justify-content: center;
            flex-direction: column;
      }
      .current-weather {
            height: 400px;
      }

      .weather-summery {
            margin: 0 auto;
            width: 100px;
            .weather-img {
                  width: 100px;
            }
      }
}
